@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mint-green: #e6f7ef; 
  --greenify-button-green: #09ad5f; 
  --coffee-green: #006241;
  --our-black: #171717;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }

  /* Fixing text color for dark mode users */
  input[type="number"], textarea {
    color: black; 
  }
  h1, h2, p, label { 
    color: var(--background);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  "Jost", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #006241; /* Color of the scrollbar handle */
  border-radius: 10px;       /* Rounded corners on the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #09ad5f; /* Color on hover */
}


/* Scrollbar for Firefox non-webkit browser*/
.scroll-container {
  scrollbar-width: thin;      
  scrollbar-color: #006241 #f1f1f1; /* Thumb color and track color */
}

/* Hide arrows in input of type=number fields for Webkit browsers (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* 
Home Page 
*/

/* Background of home page */
.home-page-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2vh;
  background: radial-gradient(ellipse, #FFFFFF, var(--mint-green));
}

/* Gray navigation ribbon */
.nav-ribbon-body {
  display: flex;
  min-height: 50vh;
  height: auto;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  @apply bg-[rgba(55,65,81,0.90)] rounded-md
}

/* Card with white background on navigation ribbon */
.nav-ribbon-card {
  min-height: 30vh;
  height: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @apply bg-white border border-gray-300 shadow-xl rounded-lg p-6 text-center
}
/* For the smalller screens */
@media (max-width: 768px) {
  .home-page-bg{
    padding-top: 5vh; /* push content down slightly */
  }
  
  .nav-ribbon-body{
    flex-direction: column; /* Stacks the cards vertically */
    height: auto;
    min-height: 100vh; /* Make sure there is enough height */
    gap: 3vh; /* Increase the spacing between the cards*/
    padding: 3vh 0; /* Extra padding at the top and the bottom */
    margin-top: 1vh;
  }
  .nav-ribbon-card{
    width: 80vw; /* Make cards take most of the screen width */
    min-height: 20vh; /* Adjust height */
    padding: 1rem;
  }
  .nav-ribbon-card-title {
    font-size: 1.2rem; /* Smaller font for mobile */
  }

  .nav-ribbon-card-caption {
    font-size: 1rem; /* Caption text size */
  }

  .nav-ribbon-card-button {
    width: 100%; /* Ensure buttons fit the card */
    text-align: center;
  }
}
/* Title of navigation ribbon card */
.nav-ribbon-card-title {
  @apply text-xl font-semibold mb-4 border-b-2 border-coffee-green
}

/* Caption of navigation ribbon card */
.nav-ribbon-card-caption {
  @apply text-lg text-gray-800 mb-4
}

/* Button on navigation ribbon card */
.nav-ribbon-card-button {
  @apply bg-greenify-button-green rounded-full shadow-sm border border-solid border-black/[.08] transition-colors flex items-center justify-center text-white text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5 hover:bg-coffee-green;
}
/* End of Home Page */


/*
Default Elements
*/

/* Centered flex column */
.flex-col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Centered flex row */
.flex-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Default page background with top down mint green-white gradient */
.default-page-bg {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, var(--mint-green), #FFFFFF);
}

/* Page Title Text */
.page-title {
  @apply text-4xl font-bold mt-4;
}

/* Page Caption Text */
.page-caption {
  @apply text-xl mt-4 mb-4 text-gray-800;
}

/* Dark Font Awesome Icon */
.fa-icon-dark {
  color: var(--our-black);
}

/* Text for page footer link to FAQ */
.footer-text {
  color: var(--our-black);
  @apply text-base border-b-2 border-coffee-green;
}

.footer-icon {
  color: var(--greenify-button-green); 
}
/* End of Default Elements */

/* 
Navigation Bar
*/

/* Bar itself */
.nav-bar-header {
  @apply bg-white h-16 flex items-center justify-start px-8 sticky top-0 z-50 shadow-md;
  /* INFO: z-index deals with what elements eppear on top of others */
}

/* Nav bar element */
.nav-bar-element-default {
  @apply ml-8 font-bold text-sm uppercase tracking-wider text-black hover:text-coffee-green;
}

/* Nav bar element of current page */
.nav-bar-element-select {
  @apply ml-8 font-bold text-sm uppercase tracking-wider text-black hover:text-coffee-green border-b-2 border-coffee-green;
}

/* Link to greenexpectations.us website */
.green-expectations-us-link {
  @apply font-bold text-sm uppercase tracking-wider text-black hover:text-coffee-green;
}
/* End of Navigation Bar */

/* 
Calculator Page 
*/

/* Calculator Section */
.sus-calc-input {
  @apply flex-col-centered w-5/6 gap-[4vh];
}

/* Section Title */
.sus-calc-title {
  @apply text-xl font-semibold;
}

/* Radio Element */
.sus-calc-bubble {
  @apply flex-col-centered gap-[1vh] w-full;
}

/* End of Calculator Page */


